<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Neural Style Transfer</title>
</head>
<body>
    <p id="foo">Welcome to my neural style transfer app!</p>
    <form id="images">
        <input type="file" id="contentImage">
        <input type="file" id="styleImage">

        <button type="button" onclick="sendImages();" id="submitImages">Submit</button>
    </form>
    <img id="stylizedImage">
    <script src="/static/index.js"></script>
</body>
</html>